/* --------------------------------------------------------------------- IMPORT --- */
@import '../../../nth-child.scss';

/* ----------------------------------------------------------------- BREAKPOINT --- */
$breakpoint-tablet: 768px;

/* ----------------------------------------------------------------------- FONT --- */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500);

/* ---------------------------------------------------------------------- COLOR --- */
$grey600: #3b434b;
$grey500: #3f4850;
$grey400: #4a565f;
$grey300: lighten($grey400, 15%);
$grey200: #a1acb4;
$mint400: #21d7c8;
$blue400: #1da8c1;

/* ----------------------------------------------------------------------- BODY --- */
body {
    font-family: Circular Std, sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: $grey600;

    -webkit-font-smoothing: antialiased;
}

/* ----------------------------------------------------------------------- MAIN --- */
main {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 15px;
}

/* -------------------------------------------------------------------- ARTICLE --- */
article {
    &:before {
        font-size: 19px;
        display: block;
        margin-bottom: 20px;
        margin-left: 4px;
        content: attr(data-name);
        text-transform: capitalize;
        color: white;
    }
}

/* ----------------------------------------------------------------------- MONO --- */
span.mono {
    font-family: 'Roboto Mono';
    font-weight: 500;
}

/* ----------------------------------------------------------------------- CODE --- */
code {
    font-family: 'Roboto Mono';
    font-size: 15px;
    display: block;
    margin-bottom: 8px;
    padding: 20px 20px 18px 20px;
    color: white;
    border-radius: 3px;
    background-color: $grey500;
    span.param {
        color: $grey200;
    }
    span.comment {
        color: $grey300;
    }
    span.value {
        color: $mint400;
        border-bottom: 1px dotted;
    }
}

@media (max-width: $breakpoint-tablet) {
    code {
        font-size: 13px;
    }
}

/* --------------------------------------------------------------------- BUTTON --- */
.button {
    font-size: 17px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 300ms;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    background-color: rgba(white, 0);
    &:hover {
        background-color: rgba(white, .1);
    }
}

/* -------------------------------------------------------------------- SECTION --- */
section {
    font-size: 0;
    margin: 0 -4px 60px -4px;
    .item {
        position: relative;
        display: inline-block;
        width: calc(10% - 8px);
        height: 50px;
        margin: 0 4px;
        counter-increment: step-counter;
        border-radius: 3px;
        background-color: $grey400;
        &:before {
            font-size: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            content: counter(step-counter);
            transform: translate(-50%, -50%);
            color: white;
        }
    }
}

/* --------------------------------------------------------------------- FOOTER --- */
footer {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    .credit {
        display: inline-block;
        vertical-align: middle;
        color: $grey200;
    }
    a.logo {
        display: inline-block;
        width: 20px;
        height: 24px;
        margin-left: 7px;
        vertical-align: middle;
        background: url('../gfx/b.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

/* ----------------------------------------------------------------------- FORK --- */
a.fork {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    display: block;
}

/* ----------------------------------------------------------------------- HERO --- */
#hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-bottom: 60px;
    background-image: linear-gradient($mint400, $blue400);
    #particles {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .content {
        font-size: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        max-width: 600px;
        transform: translate(-50%, -50%);
        text-align: center;
        h1,
        p {
            color: white;
        }
        h1 {
            font-size: 42px;
        }
        p {
            font-size: 22px;
            margin-bottom: 50px;
            color: rgba(white, .8);
            span.mono {
                font-size: 20px;
            }
        }
        a.button {
            width: 160px;
            margin: 0 10px;
            &:before {
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                content: '';
                vertical-align: middle;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &.download {
                span.mono {
                    font-size: 12px;
                }
                &:before {
                    margin-top: -5px;
                    background-image: url('../gfx/download.png');
                }
            }
            &.github {
                &:before {
                    margin-top: -5px;
                    background-image: url('../gfx/github.png');
                }
            }
        }
        @media (max-width: $breakpoint-tablet) {
            a.button {
                display: block;
                margin: 0 auto;
                &.download {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------- USAGE --- */
#usage {
    font-size: 0;
    margin-bottom: 60px;
    .item {
        display: inline-block;
        width: calc(50% - 8px);
        vertical-align: top;

        @include first(1) {
            margin-right: 8px;
        }
        &:before {
            font-size: 16px;
            display: block;
            margin-bottom: 10px;
            margin-left: 4px;
            content: attr(data-name);
            text-transform: capitalize;
            color: $grey200;
        }
    }
    @media (max-width: $breakpoint-tablet) {
        .item {
            display: block;
            width: 100%;

            @include first(1) {
                margin-bottom: 20px;
            }
        }
    }
}

/* ---------------------------------------------------------------------- FIRST --- */
#first {
    .item {
        @include first(3) {
            background-color: $mint400;
        }
    }
}

/* ----------------------------------------------------------------------- LAST --- */
#last {
    .item {
        @include last(3) {
            background-color: $mint400;
        }
    }
}

/* ----------------------------------------------------------------- FIRST LAST --- */
#first-last {
    .item {
        @include first-last() {
            background-color: $mint400;
        }
    }
}

/* ---------------------------------------------------------------------- EVERY --- */
#every {
    .item {
        @include every(3) {
            background-color: $mint400;
        }
    }
}

/* ------------------------------------------------------------------ ROW FIRST --- */
#row-first {
    .item {
        @include row-first(10) {
            margin-bottom: 8px;
            background-color: $mint400;
        }
    }
}

/* ------------------------------------------------------------------- ROW LAST --- */
#row-last {
    .item {
        @include row-last(10) {
            margin-top: 8px;
            background-color: $mint400;
        }
    }
}

/* ------------------------------------------------------------ UNBALANCED LAST --- */
#unbalanced-last {
    .item {
        margin-bottom: 8px;

        @include unbalanced-last(10) {
            margin-bottom: 0;
            background-color: $mint400;
        }
    }
}

/* ---------------------------------------------------------------------- INDEX --- */
#index {
    section {
        margin-right: 0;
        margin-left: 0;
    }
    .item {
        @include index(10) {
            width: calc(10% + 9px);
            margin: 0 -10px 0 0;
            background-color: $mint400;
            box-shadow: 0 0 30px rgba(black, .4);
        }
    }
}
